body, ul, li{
  margin:0;
  list-style:none;
  padding:0;
}
a{
  text-decoration:none;
  color:inherit;
}

.wrap {
    background:beige;
}

.logo {
    background:lemon;
}

.content-wrap {
    display:flex;
    background:red;
}

.side-menu {
    background:mistyrose;
    width:10%;
    height:800px;
}

.content {
    background:darksalmon;
    width:90%;

}